<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="addSave" method="post">
		<h1>欢迎注册</h1>
		<table>
			<tr>
				<td>姓名：</td>
				<td><input type="text" id="name" name="name"></td>
			</tr>
			<tr>
				<td>登录名：</td>
				<td><input type="text" id="username" name="username"></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input type="password" id="password" name="password"></td>
			</tr>
			<tr>
				<td><button type="submit">提交</button></td>
			</tr>
		</table>

	</form>
</body>
</html>